body{background-color: rgba(245, 179, 200, 0.127);

}
hr{
    background-color: rgba(246, 149, 5, 0.127);
    border-style: none;
   border-top-style: dotted;
   border-color: aqua;
   border-width: 20pt;
   width: 30%;
}
